
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

#header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}



/* LOGO PART CSS */
/* LOGO PART CSS */
.brand{
    width:100%;
    margin-left:20%;
    margin-top: 10%;

}

.brand-img{
    width:90px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.header-title{
    font-size: 30px;
    font-weight: bold;

}
.subtitle{
    font-size: 15px;
    margin-left: 30px;
    color:brown;
    letter-spacing: 2px;
    font-weight: bold;
}


/* WORKFLOW PART CSS */
/* WORKFLOW PART CSS */

.header-workflow{
    width: 100%;
    text-align: center;
}

.top-workflow-title,
.bottom-workflow-title{
    font-size: 1rem;
    color:rgb(148, 12, 73);
    text-align: center;    
}

.top-workflow-text,
.top-workflow-icons{      
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 95%;
    height: 35px;
    text-align: center;
    font-size: 13px;
}

.bottom-workflow-text,
.bottom-workflow-icons{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 95%;
    height: 35px;
    text-align: center;
    font-size: 13px;
}

.line{
    content: "";
    width:80%;
    margin-left: 7%;
    border-bottom: 1px dashed black;
    position: relative;
    top: -19px;
    z-index: -1;
}

.top-workflow-title p{
    color: rgb(143, 15, 102);
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid brown;
    width: 42%;
    margin-left:20%;
    margin-bottom: 2%;
    
}

.bottom-workflow-title p{
    color: rgb(143, 15, 102);
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid brown;
    width: 51%;
    margin-left: 20%;
    margin-top: 2%;
}

.top-workflow-text,
.bottom-workflow-text{
    font-size: 13px;
    font-weight: 500;

}

.bottom-workflow,
.bottom-workflow{
    margin-top: 20px;
}

.navbar{
    background-color: rgb(39, 60, 165);
    color:white;
    height: 35px;
    width: 100%;
    margin-top: 10px;
       
}

.navbar-container{
    margin-left: 46px;
}

.navbar-container span{   
    color:white;
    margin-right: 5px;
    font-size: 13px;
    padding: 13px;
}


.navbar-container a{
    color:white;
    text-decoration: none;
    padding: 5px;
   
}
.nav-tab-home,
.nav-tab-create,
.nav-tab-process{
    border: 1px solid black;

}

.container{
    width: 94vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-left: 3%;
}

.table{
    width: 100%;
    
}

.notification{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    background-color: rgb(43, 129, 234);
    border: 1px solid black;
    height: 35px;
}

.inreview-requests{
    font-size: 14px;
    font-weight: 500;
}

.numberof-requests{
    width: 20px;
    height: 16px;
    background-color: rgb(30, 30, 92);
    text-align: center;   
    border-radius: 2px;
    padding-bottom: 20px;   
}

.table-header{
    padding-left: 15px;
    padding-top:1px;
    color:white;
    background-color: rgb(43, 129, 234);
    height: 47px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.table-row,
.table-row-child{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    margin-top: 10px;
    margin-left: 1%;
    font-size: 13px;
}

.table-para,
.table-para-child{
    color: rgb(32, 101, 221);   
}

.table-row-child{
    margin-left: 5%;
}

.table-para-child{
    margin-left: 5%;
}

.table-para{
    margin-left: 1%;  
}

p{
    font-size: 13px;   
}


#table-part2{
    background-color: rgb(229, 238, 249);
    border-top: 1px solid rgb(95, 95, 95);
}

.bottom-navbar{
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 7px;
    border: 2px solid navy;
    
}
.newsupdate{
    background-color: rgb(220, 29, 11);
    color: white;
    padding-left: 10px;
    padding-top: 4px;
}
.calendar{
    background-color: rgb(244, 135, 10);
    color: white;
    padding-left: 10px;
    padding-top: 4px;
}
.templates{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    background-color: rgb(62, 149, 87);
    padding-left: 10px;
    padding-top: 4px;
    justify-content: space-between;
}
.templates-title{
    text-align: right;
    margin-left: 5px;
}

.templates-icon{
    text-align: right;
    margin-right: 5px;

}

/* FILTER PART CSS */
.filterations{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid rgb(196, 186, 186);
    
}

.fisacal-year{
    
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(91, 76, 142);
    color: white;
    height: 37px;
    justify-content: space-between;
    
}

.fisacal-year-title p{
    margin-top: 10px;
    margin-left: 10px;
}

.fisacal-year-dropown{
    margin-top: 10px;
    margin-right: 10px;
}

.second{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(65, 65, 65);
    height: 34px;
    padding-top: 5px;
}


.second p{
    margin-left: 8px;

}

.second-left p{
    margin-left: 5px;
}

.second-right{
    display: flex;
    justify-content: space-between;
    width: 115px;
}

.second-right-2 select{
    margin-right: 8px;
}

.amount-stages{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    
    
}
.third{
    margin-top: 10px;
    margin-left: 8px;
}

.contract-number-input{
    width:320px;
    height: 30px;

}

.fourth{
    margin-left: 8px;
  
} 

.fourth input{
    width:73px;
    height: 22px;
}

.fourth-dropdowns{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.drop-down select{
    width:73px;
    height:20px;
}

.fifth{
    margin-left: 8px

}

.fifth p,
.fifth select,
.seven p,
.seven select{
    width: 320px;
}

.six p, .six select,
.seven p,
.seven select{
    width: 320px;
    margin-left: 8px;
}

.amount{
    background-color: rgb(101, 76, 124);
    color:white;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
    width: 320px;
    margin-left: 8px;
}
.stages{
    color: black;
    text-align: center;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
}

.fi-title{
    width:350px;
    height: 30px;
}

.chevron{
    margin-left: 15px;
    margin-right: 15px;
}

footer{
    margin-top: 10px;
}

.footer-title{
    color:navy;
    text-align: center;
}

@media screen and (max-width:600px) {
    .body,
    .header{
        display: inline-block;
    }
    
}





