*{
font-family: 'Segoe UI';
font-size: 13px;
}
.main{
    margin: auto;
    width: 80%;
    border:1px solid black;
}
.main_child{
    padding: 5px;
}
button{
    height: 80%;
    
}
#buttons{
    display: flex;
    align-items: center;
}
.star{
    color: red;
}
#statement{
    display: flex;
}
#createform,#buttons{
    display: none;
}

#field1,#field3,#field4,#field5,
#field6,#field7,#field8,#field9,
#field10,#field11,#field12,#field13
#field14,#field15,#field16,#field17,#field18
{
    display: grid;
    grid-template-columns: auto auto;
}
.options,.details{
    display: grid;
    grid-template-columns: auto auto;
   
}
#field5_details{
    display: none;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
}
.head{
    display: grid;
    grid-template-columns: auto auto;
    background: -webkit-linear-gradient( 0deg, rgb(153,153,51) 0%, rgb(15,126,183) 100%)
}
ul{
    list-style: none;
}
#field14{
    display: none;
}
