.main-section {
    width: 100%;
}

.container {
    margin: 0 6px 0 6px;
    width: 30%;
    }

.fiscalyear {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: slateblue;
}

.directorates {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.directoratedir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.directoratedir p {
    margin-right: 30px;
}

.contractnumber>input {
    width: 98.5%;
}

.scarb-title {
    width: 100%;
}

.title_head {
    margin: 0px;
}

.scadrop-down {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 100px;
    column-gap: 5px;
}
.term-title{
    width:100%;
}
.cor-title{
    width:100%
}