/*===== UNIVERSAL SELECTOR IS USED HERE =====*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

 /*===== HEADER = LOGO + WORK FLOW =====*/
#header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;

}

#brand img{
    margin-top: 10px;
    height: 100px;
}

/*===== WORKFLOW PART CSS =====*/
.contractWorkflow{
    margin-top: 20px;
    margin-bottom: 20px;
}


.contractWorkflowText,
.contractWorkflowIcons{      
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 96%;
    height: 35px;
    text-align: center;
}

.raOffice,
.boReqVerification,
.qaQc,
.allDirectorates,
.scarbReview,
.deputyChiefOfStaff,
.chiefOfStaff,
.rm{
    font-size: 22px;
    height: 30px; 
    width: 30px;
    border-radius: 50%;
}

.raOffice{    
    border: 4px solid rgb(154, 189, 102);
    color: rgb(120, 163, 80);   
}

.boReqVerification{   
    border: 4px solid rgb(69, 118, 198); 
    color: rgb(16, 43, 199);      
}

.qaQc{    
    border: 4px solid rgb(165, 89, 180); 
    color: rgb(166, 5, 177); 
}

.allDirectorates{   
    border: 4px solid rgb(155, 221, 112); 
    color: rgb(54, 232, 27); 
}

.scarbReview{    
    border: 4px solid rgb(224, 152, 96); 
    color: rgb(241, 120, 13); 
}

.deputyChiefOfStaff{   
    border: 4px solid rgb(241, 123, 115); 
    color: rgb(225, 21, 21); 
}

.chiefOfStaff{    
    border: 4px solid rgb(79, 218, 246); 
    color: rgb(32, 165, 205); 
}

.rm{ 
    border: 4px solid rgb(59, 128, 137); 
    color: rgb(25, 90, 126); 
}

/*===== DOTTED LINE TO CONNECT WORK FLOW ICONS =====*/
.line{
    content: "";
    width:84%;
    margin-left: 7%;
    border-bottom: 1px dashed black;
    position: relative;
    top: -19px;
    z-index: -1;
}

.contractWorkflowText{
    font-size: 0.68rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.navbar{
    background-color: #264990;
    color:white;
    height: 34px;
    width: 100% ;
    margin-top: 10px;
    
}

.navbarContainer{
    margin-left: 10%;
    font-size: 13px;    
}

.navbarContainer span{   
    color:white;
    margin-right: 5px;
    font-size: 0.81rem;
    padding: 12px;   
}

.navbarContainer a{
    color:white;
    text-decoration: none;
    padding: 7px;
}

.navbarHome,
.navbarCreate,
.navbarScarbreview,
.navbarReports,
.navbarHelpdesk,
.navbarSettings{
    border-left: 1px solid black;
}

.navbarHelpdesk{
    border-right: 1px solid black;
    
}

/*===== BODY = NAVBAR + TABLE DATA + BOTTOM NAV BAR + FILTER =====*/
#body{
    width: 80%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-left:10%;
}

.notification{
    padding: 6px;
    background-color: #3C7ECC;
    height: 35px;
    width: 200px; 
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    gap: 10px;
    margin-top: 7px;  
}

.notificationInreview{
    padding-top:2px ;
    font-size: 0.81rem;
    font-weight: 500;
}

.notificationsCount{
    background-color: rgb(30, 30, 92);
    text-align: center;   
    border-radius: 10px;   
}

.tableView{
    border: 2px solid rgb(170, 170, 170); 
    width: 100%;
} 

#tableData{
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
}


td,th{
    font-size: 0.81rem;
    padding: 8px;
}

tr:nth-child(even){
    background-color:#F1F9FF;
}
 
th{
    position: sticky;
    top: 0px;
    background-color: #6A9ED8;
    color: white;
    text-align: left;    
}

.projectName{
    font-weight: 600;
}

  /*===== TABLE DATA FROM JAVA SCRIPT =====*/

a{
    color:blue;
    text-decoration: none;
  }

.bottom-navbar{   
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 7px;
    font-size: 0.81rem; 
    font-weight: 600;  
    position: sticky;
    bottom: 25px; 
}

.newsupdate,
.calendar,
.templates{
    padding-left: 10px;
    padding-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.81rem;
    color: white;
}

.newsupdate{
    background-color: #DE4555;  
}

.calendar{
    background-color: #EA8220;  
}

.templates{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #47BA75;   
}

.templates-dropdownIcon{
    text-align: right;
    margin-right: 5px;
}


/*===== FILTER PART CSS =====*/
.filteration{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgb(196, 186, 186);    
}

.dashboard{
    background-color: #8BA2D6;
    color: white;
    height: 50px;
    padding: 12px;  
}

.filter-part{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 30px; 
    border-bottom: 1px solid black;
}

.filter-icon{
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    width: 80px;
}

.filter-icon span{
    margin-top: 5px;
}

.directorates{
    margin-left: 50px;
}

#dir{
    width: 100px;
    height: 25px;
}

.directorates-list{
    width: 150px;   
}

.sca-number{
    width: 280px;
    margin:auto
}

#Primary_Staff_list,
#directorates2_list,
#fiscalYear{
    width: 68px;
    height: 25px;
}

#myInput{
    width: 68px;
    height: 25px;
}

.dir{
    width: 150px;
    height: 25px;
}

.sca-number-dropdowns{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;    
}

.scarb-review,
.contract-term{
    margin:auto;
}

.scarb-review p,
.scarb-review select,
.contract-term p,
.contract-term select{
    width: 280px; 
    height: 30px ;   
}

.total-cost{
    background-color: #726086;
    color:white;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
    width: 290px;
    margin:auto;   
}

.chevron{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

footer{
    position: sticky;
    bottom: 0;
    background-color:white;
}

.footer-title{
    color:navy;
    text-align: center;
}


/*===== MEDIA QUERRIES UPTO 1024PX =====*/
@media screen and (max-width:1024px) {

#header{
    display: grid;
    grid-template-columns: 1fr;
    width:80%;
    margin-left: 10%;
}

.line{
    width:84%;   
    margin-left: 8%;
}

.bottom-navbar{   
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.81rem;    
    position: sticky;
    bottom: 25px;
}

.newsupdate,
.calendar,
.templates{   
   border: 1px solid navy;
}
       
.workflow-text,
.workflow-icons{
    width: 100%;
    font-size: 0.7rem;
}

.navbar-content{
    margin-left: 10%;
    font-size: 10px
}

#body{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-left:10%;
}

.filteration{
    width: 300px;
    margin-top: 20px;
}

.navbar-content span{   
    color:white;
    margin-right: 5px;
    font-size: 0.72rem;
    margin-top: -3px;   
}

span.fa-caret-down,
.medcom,
.create,
.scarbMonthlyReview,
.reports,
.helpDesk{
    display: none;
}

}
