<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- we are using link tag stylesheet to attach .css -->
    <link rel="stylesheet" type="text/css" href="tem.css">


    <!-- we are using font-awsome website images to link tag by taking images  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

   <div class="bottom_navbar">
    <div id="title_bar" onclick="display()">

        <div id="content">
            <div class="newsupdate">
                <span class="fa-solid fa-newspaper"></span>
                NEWS/MANUALS/ACQ INFORMATION
            </div>
            <p class="bottom_navbar2" id="news_data">
            </p>
            <p id="get_more">
                <span> More </span> 
            </p>
        </div>

       <div id="content1">
            <div class="calendar">
                <span class="fa-solid fa-calendar-check"></span>
                CALENDAR
            </div>
            <p>
                There is no data to display
            </p>
        </div>

        <div id="content2">
            <div class="templates">
                <div class="left">
                    <span class="fa-solid fa-copy"></span>
                    TEMPLATES
                </div>

                <div>
                    <div class="button">
                        <span class="fa-solid fa-angle-down"></span>
                    </div>
                </div>
          </div>

          <div id="description">
            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> ADD coversheet</span>
                    </a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> ADJ coversheet </span>
                    </a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> Application </span></a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> Backup Docs</span></a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> FY2018 AT-OPSEC Cover Sheet - 4th...</span></a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> Lines of Effort </span></a>
                </p>
            </div>

            <div>
                <p>
                    <a href="C:\Users\BACKIUP01\Desktop\templates\Docs" download>
                        <span><b> > </b></span> MSR Attachement </span></a>
                </p>
            </div>

            <div id="get_details">
                <p>
                    <span> More </span>
                </p>
            </div>
        </div>
       
</div>
    </div>
            <script src="getall.js"></script>
         <!-- <script src="create.js"></script> -->
</body>

</html>